@font-face {
  font-family: 'MyFont';
  src: url('/fonts/MyVariableFont-VF.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

.headerContainer {
  padding-top: 70px;
  position: relative;
  display: flex;
  height: 100vh;
  margin-bottom: 35vh;
  overflow: hidden;
  font-family: 'MyFont', sans-serif;
}

.imageContainer1 {
  position: absolute;
  top: calc(100vh - 80vh);
  left: calc(100vw - 85vw);
  width: 350px;
  height: 450px;
}

.imageContainer2 {
  position: absolute;
  top: calc(100vh - 60vh);
  left: calc(100vw - 65vw);
  width: 250px;
  height: 250px;
}

.firstContainer h1 {
  font-weight: 500;
  font-size: 80px;
  color: #4d4c4c;
  font-family: 'MyFont', sans-serif;
}

.firstText{
  position: absolute;
  top: calc(100vh - 80vh);
  left: calc(100vw - 55vw);
}

.secondText{
  position: absolute;
  top: calc(100vh - 60vh);
  left: calc(100vw - 40vw);
}

.sliderContainer {
  position: absolute;
  top: calc(100vh - 350px);
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider h1 {
  position: relative;
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 240px;
  font-weight: 500;
  padding-right: 50px;
  font-family: 'MyFont', sans-serif;
}

.slider h1:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.slider h1:nth-of-type(3) {
  position: absolute;
  left: 200%;
  top: 0;
}

@media (max-width: 1160px) {
  .firstText {
    top: 20vh;
    left: 50vw;
  }

  .secondText {
    top: 40vh;
    left: 65vw;
  }
}

@media (max-width: 1000px) {

  .firstContainer h1 {
    font-size: 70px;
  }

  .firstText {
    top: 10vh;
    left: 30vw;
  }

  .secondText {
    top: 20vh;
    left: 55vw;
  }
}

@media (max-width: 879px) {

  .firstContainer h1 {
    font-size: 70px;
  }

  .firstText {
    top: 10vh;
    left: 10vw;
  }

  .secondText {
    top: 20vh;
    left: 60vw;
  }
}

@media (max-width: 768px) {
  .firstContainer h1 {
    font-size: 70px;
  }

  .firstText {
    top: 10vh;
    left: 10vw;
  }

  .secondText {
    top: 25vh;
    left: 60vw;
  }
}

@media (max-width: 425px) {
  .imageContainer1 {
    position: absolute;
    top: calc(100vh - 70vh);
    left: calc(100vw - 95vw);
    width: 230px;
    height: 315px;
  }

  .imageContainer2 {
    position: absolute;
    top: calc(100vh - 40vh);
    left: calc(100vw - 45vw);
    width: 150px;
    height: 150px;
  }

  .firstContainer h1 {
    font-weight: 500;
    font-size: 60px;
    color: #4d4c4c;
  }

  .firstText {
    top: 12vh;
    left: 5vw;
  }

  .secondText {
    top: 22vh;
    left: 30vw;
  }

  .sliderContainer {
    position: absolute;
    top: calc(100vh - 275px);
  }

  .slider p {
    position: relative;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 185px;
    font-weight: 500;
    padding-right: 50px;
  }
}

@media (max-width: 375px) {
  .firstText {
    top: 10vh;
    left: 5vw;
  }

  .secondText {
    top: 20vh;
    left: 15vw;
  }
}

@media (max-width: 320px) {
  .firstContainer h1 {
    font-size: 50px;
  }

  .firstText {
    top: 8vh;
    left: 5vw;
  }

  .secondText {
    top: 18vh;
    left: 15vw;
  }
}
